.header {
  padding: 20px;
}

.page-manager {
  padding: 20px;
  width: 25%;
}

.page-manager-curr-info {
  padding: 20px;
}

/* .acc_bar {
  border-radius: 9px;
  background-color: turquoise;
  color: green;
} */
