.backside {
  background-color: darken(white, 15%);
  border-radius: 9px;
  /*  min-width: 60%; */
  margin: 5px;
  border: 2px solid lighten(crimson, 20%);
  &:hover {
    transition: box-shadow 500ms;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
  }
}

.btn-text {
  color: white;
  font-size: 20px;
}

.plus {
  //plus button
  color: white;
  background-color: lighten(crimson, 20%);
  border-radius: 33px;
  &:hover {
    color: darken(white, 20%);
  }
  &:active {
    transform: scale(1.2);
  }
}

.toast-container {
  width: 50%;
  margin: auto;
}

.like-btn{
  &:active{
    fill: green;
  }
}

.dislike-btn{
  &:active{
    fill: red;
  }
}
