* {
  background-color: #282c34;
}
.App {
  color: aliceblue;
}
h1 {
  -webkit-text-stroke: 0.1vw rgb(255, 0, 55);
}
ul li {
  list-style-type: none;
  display: inline;
  padding: 15px;
}
.nav {
  justify-content: space-between;
  text-align: right;
  max-width: 1200px;
}

.test {
  margin-top: 15rem;
  font-size: 6rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: aliceblue;
}
